{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": ["last 2 versions", "safari 7"]
      }
    }],
    "react"
  ],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
      ]
    }
  }
}
