{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "browser": true
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "react/forbid-prop-types": [0],
    "jsx-a11y/no-static-element-interactions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0
  }
}
